- if logged_in?
  .row
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
      %section.stats
        = render 'shared/stats'
      %section.post_form
        = render 'shared/post_form'
    %aside.col-md-8
      %h3
        Timeline
        = render 'shared/feed'
- else
  .center.jumbotron
    %h1 Welcome to the Mayopad
    %h2
      Please sign up!!
    = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
