%li{id: "post-#{post.id}"}
  = link_to gravatar_for(post.user, size: 50), post.user
  %span.user= link_to post.user.name, post.user
  %span.content
    = auto_link(markdown(post.content), html: { target: '_blank' }, link: :urls)
    = image_tag post.picture.url if post.picture?
  %span.timestamp
    Posted #{time_ago_in_words(post.created_at)} ago.
    - if current_user?(post.user)
      = link_to "delete", post, method: :delete, data: { confirm: "You sure?" }
